/* Color Base */
:root {
    /* Light Theme Colors */
    --first-color-light: #e5dfdf;
    --second-color-light: #6ba8a9;
    --third-color-light: #357376;
    --fourth-color-light: #1d4d4f;
    --box-shadow-color-light: rgba(0, 0, 0, 0.3);

    /* Dark Theme Colors */
    --first-color-dark: #464159;
    --second-color-dark: #6c7b95;
    --third-color-dark: #8bbabb;
    --fourth-color-dark: #c7f0db;
    --box-shadow-color-dark: rgba(255, 255, 255, 0.3);
}

/* Light Theme */
[data-theme="light"] {
    background-color: var(--first-color-light);
    color: var(--fourth-color-light);
    --box-shadow-color: var(--box-shadow-color-light);
}

[data-theme="light"] .navbar,
[data-theme="light"] footer {
    background-color: var(--third-color-light);
    color: var(--first-color-light);
}

/* Specific Sections for Light Theme */
.light #home {
    background-color: var(--first-color-light);
    color: var(--third-color-light); /* Make the text color different from the background */
}

.light #about {
    background-color: var(--second-color-light);
    color: var(--first-color-light);
}

.light #projects {
    background-color: var(--third-color-light);
    color: var(--first-color-light);
}

.light #contact {
    background-color: var(--fourth-color-light);
    color: var(--first-color-light);
}

/* Dark Theme */
[data-theme="dark"] {
    background-color: var(--first-color-dark);
    color: var(--fourth-color-dark);
    --box-shadow-color: var(--box-shadow-color-dark);
}

[data-theme="dark"] .navbar,
[data-theme="dark"] footer {
    background-color: var(--third-color-dark);
    color: var(--first-color-dark);
}

/* Specific Sections for Dark Theme */
.dark #home {
    background-color: var(--first-color-dark);
    color: var(--third-color-dark); /* Make the text color different from the background */
}

.dark #about {
    background-color: var(--second-color-dark);
    color: var(--first-color-dark);
}

.dark #projects {
    background-color: var(--third-color-dark);
    color: var(--first-color-dark);
}

.dark #contact {
    background-color: var(--fourth-color-dark);
    color: var(--first-color-dark);
}